body {
  padding-top: 47px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-left: 17px; 
  padding-right: 17px; 
}

h2 {
  font-size:17px;
}

@media (max-width: 767px) {
  body {
    padding-top: 117px;
  }
}

/*#chartGoalTeam .x.axis text {
    text-align: right;
    transform: rotate(-57deg);
}*/

.radar-chart .axis .legend {
  font-family: sans-serif;
  font-size: 13px;
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

#togglePercentage {
	font-size: 11px;
	width: 73px;
}

.elementAbove {
	position: relative; 
	left: 239px; 
	bottom: 187px; 
	z-index: 3;
}

.elementBelow{
	z-index: 2;
}

.elementContains {
	padding-top: 17px; 
	position: relative; 
	z-index: 1;
}

.circleKey {
	stroke-width: 1; 
	fill: none;
	stroke: grey;
}

.textCircle {
	font-size: 7;
	fill: grey;
	stroke: none;
}

.imageChild {
	height: 100%; 
	width: 100%; 
	background-color: #f0f0f0;
	border-radius: 17px;
}

#height {
	font-weight: bold;
}

.textBox {
	text-align: center;
	vertical-align: middle;
}

